# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.template

# MacOS
.DS_Store
._*
rough.py
logs/

# VS Code
.vscode/
*.zst

# Data files
data/*parquet
*.xlsx
*.csv
*.json